<div id="<%= dom_id theme %>">
  <p>
    <strong>Main background:</strong>
    <%= theme.main_background %>
  </p>

  <p>
    <strong>Schedule background:</strong>
    <%= theme.schedule_background %>
  </p>

  <p>
    <strong>Medication background:</strong>
    <%= theme.medication_background %>
  </p>

  <p>
    <strong>Medication-main:</strong>
    <%= theme.medication-main %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= theme.heading %>
  </p>

  <p>
    <strong>Font:</strong>
    <%= theme.font %>
  </p>

</div>
