<%= form_with(model: [@user, @medication], url: "/users/#{session[:user_id]}/medications/#{@medication.name}", method: :patch) do |form| %>

  <div class="field">
    <%= form.label :amount_taken %>
    <%= form.number_field :amount_taken, class: "form-control", step: 1, min: 0 %> <!-- Set min value if needed -->
  </div>

  <div class="field">
    <%= form.label :dose_amount %>
    <%= form.text_field :dose_amount %>
  </div>

  <div class="field">
    <%= form.label :dose_unit %>
    <%= form.select :dose_unit, options_for_select(["mg", "g", "oz", "ml"]), {}, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :amount_left %>
    <%= form.number_field :amount_left, class: "form-control", step: 1, min: 0 %> <!-- Set min value if needed -->
  </div>

  <div class="field">
    <%= form.label :last_picked_up %>
    <%= form.date_field :last_picked_up, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
