<p style="color: green"><%= notice %></p>

<% if @medication %>
  <%= render @medication %>
  <p>Days and Times:</p>
  <ul>
    <% @medication.medication_schedules.each do |schedule| %>
      <li><%= schedule.day_of_week.name %>: <%= schedule.time %></li>
      <%= link_to "Edit", edit_user_medication_medication_schedule_path(@user, @medication.name, schedule) %>
      <%= link_to "Delete", user_medication_medication_schedule_path(@user, @medication.name, schedule), data: { confirm: "Are you sure you want to delete this medication schedule?", turbo_method: :delete  } %>
    <% end %>
  </ul>
  <div>
  <%= form_with(model: @medication.medication_schedules.build, url: user_medication_medication_schedules_path(@user, @medication.name)) do |form| %>
    <p>Add Day and Time:</p>
    <div>
      <%= form.select :day_of_week, options_for_select([
        ['Sunday', '1'],
        ['Monday', '2'],
        ['Tuesday', '3'],
        ['Wednesday', '4'],
        ['Thursday', '5'],
        ['Friday', '6'],
        ['Saturday', '7']
      ]) %>
      <%= form.time_field :time %>
    </div>
    <%= form.submit "Add Schedule" %>
  <% end %>
  </div>
<% else %>
  <p>Medication not found</p>
<% end %>

<div>
  <%= link_to "Edit this medication", edit_user_medication_path(@medication) %> |
  <%= link_to "Back to medications", user_medications_path(@user) %>

  <%= link_to "Destroy this medication", user_medication_path(user_id: session[:user_id], name: @medication.name), data: { confirm: "Are you sure you want to delete this medication?", turbo_method: :delete } %>
</div>