<%= stylesheet_link_tag "medication", "data-turbo-track": "reload" %>
<div class="outerDashboard">
  <%= link_to user_medications_path(@current_user), class: "widgetLink" do %>
    <div class="appTitleDiv">
      <div class="center">
        <svg class="nonIcon" width="50px" height="50px" viewBox="0 0 32 32" data-name="Layer 2" id="Layer_2" xmlns="http://www.w3.org/2000/svg"><title/><path d="M11.17,10.23a33.37,33.37,0,0,0-3.05,3.13c-.51.62-1.28,1.3-1.21,2.17s.81,1.24,1.35,1.76a16.3,16.3,0,0,1,2.57,3.17c.86,1.36,3,.11,2.16-1.26a21.06,21.06,0,0,0-1.82-2.48A16.16,16.16,0,0,0,10,15.52c-.22-.21-.86-1.14-.68-.49l-.13,1a17.85,17.85,0,0,1,3.72-4c1.19-1.08-.58-2.85-1.77-1.76Z"/><path d="M9.4,17a109.13,109.13,0,0,0,12.53-.1c1.59-.11,1.61-2.61,0-2.5a109.13,109.13,0,0,1-12.53.1c-1.61-.07-1.6,2.43,0,2.5Z"/></svg>
        <div class="medicationIconDiv">
          <svg class="medicationIcon" viewBox="0 0 100 100" style="fill: <%= @medication.color %>;">
            <%= raw(@medication.icon) %>
          </svg>
        </div>
        <p class="appTitle"><%= @medication.name %></p>
      </div>
    </div>
  <% end %>
  <div class="backingDiv">
    <div class="medInfoDiv">
      <div class="rowDiv">
        <div class="medInfo stacked">
          <div class="txt">
            <p class="largeTxt"><%= @medication.amount_left %></p> 
            <p class="smallTxt">left</p>
          </div>
        </div>
        <div class="medInfo">
          <p class="medTxt"><%= @medication.dose_amount %><%= @medication.dose_unit %></p>
        </div>
      </div>
      <div class="rowDiv">
        <div class="medInfo stacked" onclick="showModal()" style="cursor: pointer;">
          <div class="txt">
            <p class="smallTxt">Next Pick Up:</p>
            <p class="medTxt"><%= @medication.next_pickup.strftime("%b %-d") %></p>
          </div>
        </div>
        <div class="medInfo stacked">
          <div class="txt">
            <p class="largeTxt"><%= @medication.amount_taken %></p>
            <p class="smallTxt"> at a time</p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to user_medication_medication_schedules_path(@user, @medication.name), class: "widgetLink blackLink noLeftMargin outerMedSchedDiv" do %>
      <div class="medSchedDiv">
        <p class="widgetTitle">Schedules</p>
        <div class="scrollDiv">
          <div class="scheduleSepDiv">
          </div>
          <% @medication.medication_schedules.each do |schedule| %>
            <div class="schedule">
              <p class="widgetText"><%= schedule.day_of_week.name %> <%= schedule.time.strftime("%l:%M %p") %></p>
              <p class="widgetText"><%= schedule.medication.name %>, <%= schedule.medication.dose_amount %><%= schedule.medication.dose_unit %></p>
              <% if schedule.taken == true %>
                <div class="takeMedDiv" onclick="untakeMedication(event, '<%= session[:user_id] %>', '<%= schedule.medication.id %>', '<%= schedule.id %>')">
                  <svg class="takeMedIcon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Layer 2">
                      <g data-name="checkmark-circle-2">
                        <rect width="24" height="24" opacity="0"/>
                        <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"/>
                        <path d="M14.7 8.39l-3.78 5-1.63-2.11a1 1 0 0 0-1.58 1.23l2.43 3.11a1 1 0 0 0 .79.38 1 1 0 0 0 .79-.39l4.57-6a1 1 0 1 0-1.6-1.22z"/>
                      </g>
                    </g>
                  </svg>
                </div>
              <% else %>
                <div class="takenMedDiv" onclick="takeMedication(event, '<%= session[:user_id] %>', '<%= schedule.medication.id %>', '<%= schedule.id %>')">
                  <svg class="takenMedIcon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              <% end %>
            </div>
            <div class="scheduleSepDiv">
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "+ add schedule", new_user_medication_medication_schedule_path(@user, @medication.name), class: "btns" %>
  <%= link_to "EDIT", edit_user_medication_path(@medication), class: "btns" %>
</div>

<div class="modal-overlay" id="outerModal">
  <div class="modal-content" id="innerModal">
    <div onclick="closeModal()" style="cursor: pointer; text-align: right;">&#10005;</div>
    <div class="modalTitleDiv botMar"><p class="largeTxt">New Pickup</p></div>
    <p class="smallTxt botMar">Last Picked Up: <%= @medication.last_picked_up %></p>
    <div class="flexDiv botMar"><p class="smallTxt">New Date: </p><input type="date" id="pickup_date" class="modalInput"></div>
    <div class="oDiv"><div onclick="newPickup('<%= session[:user_id] %>', '<%= @medication.name %>')" class="modalBtnDiv"><p class="smallTxt">enter</p></div></div>
  </div>
</div>


<script>
    var csrfToken = document.querySelector('meta[name="csrf-token"]').content;
    // Update the date and time every second
    function takeMedication(event, userId, medicationId, scheduleId) {
        // Make an AJAX request to your controller method
        // Replace 'your_controller' and 'your_method' with your actual controller and method names
        var body = JSON.stringify({
            user_id: userId,
            medication_id: medicationId,
            schedule_id: scheduleId
        });
        // Make a POST request to your controller method
        fetch(`/users/${userId}/medications/${medicationId}/medication_schedules/${scheduleId}/take_med`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrfToken
            },
            body: body
        })
        .then(response => {
        if (response.ok) {
            // Do something if the request is successful
            window.location.href = '<%= user_medication_path(user_id: session[:user_id], name: @medication.name) %>';
            console.log("Medication taken successfully");
        } else {
            // Do something if the request fails
            console.error("Failed to take medication");
        }
        })
        .catch(error => console.error("Error:", error));
    }


    function untakeMedication(event, userId, medicationId, scheduleId) {
        // Make an AJAX request to your controller method
        // Replace 'your_controller' and 'your_method' with your actual controller and method names
        var body = JSON.stringify({
            user_id: userId,
            medication_id: medicationId,
            schedule_id: scheduleId
        });
        // Make a POST request to your controller method
        fetch(`/users/${userId}/medications/${medicationId}/medication_schedules/${scheduleId}/untake_med`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrfToken
            },
            body: body
        })
        .then(response => {
        if (response.ok) {
            // Do something if the request is successful
            window.location.href = '<%= user_medication_path(user_id: session[:user_id], name: @medication.name) %>';
            console.log("Medication untaken successfully");
        } else {
            // Do something if the request fails
            console.error("Failed to untake medication");
        }
        })
        .catch(error => console.error("Error:", error));
    }

    function showModal(){
      document.getElementById("outerModal").style.display = "flex";
      document.getElementById("innerModal").style.display = "block";
    }

    function closeModal(){
      document.getElementById("outerModal").style.display = "none";
      document.getElementById("innerModal").style.display = "none";
    }

    function newPickup(userId, medicationName){
        var date = document.getElementById("pickup_date").value;
        if(date){
          var body = JSON.stringify({
              user_id: userId,
              date: date,
              name: medicationName
          });
          // Make a POST request to your controller method
          fetch(`/users/${userId}/medications/new_pickup`, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRF-Token': csrfToken
              },
              body: body
          })
          .then(response => {
          if (response.ok) {
              // Do something if the request is successful
              alert("SUCCESS");
              window.location.href = '<%= user_medication_path(user_id: session[:user_id], name: @medication.name) %>';
              console.log("New Pickup Successful");
          } else {
              // Do something if the request fails
              alert("FAILED");
              console.error("New Pickup FAILED");
          }
          })
          .catch(error => console.error("Error:", error));
        }
    }
</script>
