<%= form_with(model: day_taken) do |form| %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :taken, style: "display: block" %>
    <%= form.check_box :taken %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
