<!DOCTYPE html>
<html>
  <head>
    <title>medcheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" href="/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="outerDiv">
      <%= render partial: 'shared/display_flash' if not flash.empty? %>
      <button id="installButton" onclick="installPWA()">Install App</button>
      <%= yield %>
    </div>
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(registration => {
            console.log('Service Worker registered:', registration);
          })
          .catch(error => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
  <script>
    let deferredInstallPrompt;

    window.addEventListener('beforeinstallprompt', (event) => {
      console.log('beforeinstallprompt event fired');
      event.preventDefault();
      deferredInstallPrompt = event;
      const installButton = document.getElementById('installButton');
      installButton.style.display = 'block';
      installButton.addEventListener('click', installPWA);
    });
    
    function installPWA() {
      console.log('Button clicked - Installing PWA');
      if (deferredInstallPrompt) {
        deferredInstallPrompt.prompt();
        deferredInstallPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the installation prompt');
          } else {
            console.log('User dismissed the installation prompt');
          }
          deferredInstallPrompt = null;
        });
      }
    }
  </script>
</html>
